.App {
  text-align: center;
  background-image: url("livebackground.jpeg");
  background-attachment: fixed;
  background-size: cover;
  padding-bottom: 200px;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.live-value {
  font-size: calc(100px + 2vmin);
  padding: 5%;
}

.redback-logo {
  max-width: calc(200px + 1vmin);
  display: flex;
  align-self: center;
  padding-top: 5%;
  margin-bottom: 30px;
}

.value-title {
  font-size: calc(25px + 2vmin);
  font-weight: bold;
  color: #194569;
}

.live-background {
  background-color:rgba(255, 255, 255, 0.4);
  border-radius: 25px;
  padding: 20px;
  text-shadow: 1px 1px whitesmoke;
  font-family: 'futura', monospace;
}

.top {
  display: flex;
  align-items: center;
  font-family: Copperplate, Papyrus, fantasy;
  text-shadow: 1px 1px black;
  font-size: 200%;
}

.redback-text {
  margin-right: 50px;
  color: #ec273d;
}

.racing-text {
  margin-left: 50px;
  margin-right: 40px;
}